.video-desc-nav {
  grid-column: content/right-fold;
  grid-row: row-name/post-form;
  margin: 0 2.5rem 0 0rem;
  display: grid;
}

.thumbtabs {
  margin-left: -1.25rem;
}

.video-prev-pos {
  grid-column: right-fold/right-margin;
  grid-row: row-content/footer;
}

.play-btn-container {
  width: clamp(4rem, 8rem, 4vw);
  text-align: center;
  align-self: center;
  justify-self: center;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  z-index: 3;
  mix-blend-mode: exclusion;
}

.play-btn polygon {
  fill: var(--shade-1);
}
