/* main-description */


.content-grid .content-block:first-of-type {
    min-height:calc(100vh - 11.5rem);
}

.content-grid .content-block:nth-child(n+3) {
    min-height:calc(100vh - 9.9rem );
}

.content-block{
    grid-column: content / span 3;
    align-self:center;
    display:flex;
    flex-direction:row;
    min-height:0;
}

.main-description {
    grid-column: content / span 1;
    grid-row: span 1;
    align-self:center;
    z-index:2;
    margin-right:1.5rem;
}

.main-description > h1:first-of-type span {
    font-size:3.6vw;
    color:var(--emphasis-light-color);
    background-color: #ffffff;
    padding:1rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.main-description h2, .main-description p {
    color:var(--emphasis-dark-color);
    
}

.main-description > h2 {
    font-weight:500;
    font-size:2vw;
    padding:2rem 0;
}

.main-description h2 span {
    display: table;
}

.video-preview {
    grid-column: overlap / span 2;
    align-self:center;
    z-index:1;
}


.video-preview:before {
    border-radius: 50%;
    margin: 1rem 0;
    background-color:var(--emphasis-lighter-color);
    content: '';
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 0vw;
    width: 65vmin;
    height: 65vmin;
}


.thumbnail-container {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:flex-start;
    margin:2rem 0;
}


.thumbnail-1 {
    width:6rem;
    height:6rem;
    border-radius:50%;
    background-color:var(--emphasis-lighter-color);
    margin: 1.5rem 2rem 1.5rem 0;
}

@media screen and (max-width: 1700px) {
    
    .content-block{
        grid-column: content / span 2;
    }

    .video-preview {
        grid-column: overlap / span 1;
    }    
}

@media screen and (max-width: 1500px) {
    
    .main-description > h1:first-of-type span {
        font-size:4rem;
    } 
    .main-description > h2 {
        font-size:1.5rem;
        padding:2rem 0;
    }

    .main-description > p {
        font-size:1.25rem;
    }

    .video-preview:before {
        width: 50vw;
        height: 50vw;
    }
}

@media screen and (max-width: 1000px) {
    .content-block{
        grid-column: content / span 1;
        flex-direction:column;
    }

    .content-grid .content-block:first-of-type {
        min-height:calc(100vh - 3.4rem);
        margin-top: 5rem;
    }
    
    .content-grid .content-block:nth-child(n+3) {
        margin-top: 5rem;
    }

    .main-description {
        margin-right:0;
    }
    
    .video-preview {
        grid-column: start / -1;
        align-self:center;
        z-index:1;
    }

    .video-preview:before {
        border-radius: 1rem;
        
        width: 80vw;
        height: 60vw;
    }
    
    .thumbnail-container {
        justify-content:space-between;

    }

    .thumbnail-1 {
        margin: 1rem .5rem;
    }
}
