.header{
    display:contents;
}

.header > i {
    display:none;
}

.header-bg {
    grid-column:1 / -1;
    grid-row:1 / 2;
    height:3.4rem;
    background-color:var(--background-color);
    opacity:0.85;
    z-index:3;
    position:sticky;
    top:0;
}

/* NAV */

.logo {
    align-self: center;
    color:var(--emphasis-dark-color);
    font-weight: 500;
    font-size:2.25rem;
    z-index: 5;
    position:sticky;
    top:0;
    grid-column: 2 / span 1 ;
    grid-row:1 / 2;
}

.logo > span {
    color:var(--emphasis-light-color);
}

#nav-links  {
    align-self: center;
    position:sticky;
    top:0;
    z-index:5;
    grid-column:nav / span 1;
    grid-row:1 / 2;
    background-color:var(--background-color);
}

#nav-links > ul {
    list-style:none;
    display:flex;
    justify-content:flex-end;
}

#nav-links > ul > li:first-child  {
    margin-left: .5rem;
}

#nav-links > ul > li:last-child  {
    margin-right: .5rem;
}

#nav-links > ul > li:not(:first-child)  {
    margin-left: 4rem;
}

#nav-links > ul > li {
    margin-top:0.75rem;
    margin-bottom:0.75rem;
}

#nav-links > ul > li > a {
    font-weight:200;
    font-size: 1.5rem;
}

@media screen and (max-width: 1000px) {
    .header > i {
        display:flex;
        justify-self:flex-end;        
        grid-column:nav / span 1;
        grid-row:1 / 2;
        z-index:5;
        position:sticky;
        top:0;
        align-self: center;
        color:var(--emphasis-dark-color);
        font-weight: 500;
        font-size:2.25rem;
        cursor:pointer;
        background: url(../img/icon-menu.svg) no-repeat;
        background-position:center;
        width:25px;
        height:3.4rem;
    }

    #nav-links {
        display:flex;
        height:100vh;
        z-index:4;
        background-color:white;
        justify-content:center;
        grid-column:start / -1;
        grid-row:1/-1;        
    }

    .on-load {
        transform: translateX(-100vw);  
    }

    .show {
        transform: translateX(0vw);
        transition: transform 0.5s ease-in-out;
    }

    .hide {
        transform: translateX(-100vw);
        transition: transform 0.5s ease-in-out;
    }

    #nav-links > ul {
        flex-direction:column;
        justify-content:space-evenly;

    }
    #nav-links > ul li, #nav-links > ul > li:first-child, #nav-links > ul > li:not(:first-child)  {
        display:flex;
        margin:0rem;
        align-self:center;        
    } 
    #nav-links > ul > li > a {
        font-size:3rem;
    }

}

