/* GENERAL */

* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;
    font-size: 16px;
    --emphasis-dark-color: #3d3d3d;
    --emphasis-light-color: #7b7b7b;
    --emphasis-lighter-color: #EAEAEA;
    --background-color: #f6f6f6;
    line-height: 1.5;
    font-family: 'Barlow', Arial, Helvetica, sans-serif;
}

body {
    background: var(--background-color);
    color: var(--emphasis-dark-color);
}

a:link {
    font-weight:bold;
    text-decoration: none;
    color: #000;
}

h1 {
    font-weight: 500;
}

p {
    font-size:1.5rem;
}
