.code-prev-pos {
  margin: 2.5rem 2.5rem 2.5rem -2.5rem;
  /* padding-top: 2.5rem; */
  grid-column: content/aside;
  grid-row: row-content/footer;
  display: grid;
  align-content: center;
  align-self: center;
}

@media screen and (max-width: 1154px) {
  .code-prev-pos {
    grid-column: overlap/right-margin;
    align-self: flex-start;
    align-items: flex-start;
    padding: 0;
    margin: 0;
  }
}

.code-pos section {
  grid-row: row-select / row-name;
  grid-column: content/aside;
  z-index: 2;
}

.code-nav,
.code-blurb {
  grid-column: aside/right-margin;
  margin-left: 2.5rem;
}

.code-nav {
  grid-row: row-select/row-name;
}

.code-blurb {
  min-height: 100%;
  grid-row: row-name/post-form;
  overflow-y: scroll;
  padding-right: 1.25rem;
}
@media screen and (max-width: 1154px) {
  .code-nav,
  .code-blurb {
    grid-column: logo/overlap;
    margin-left: 0rem;
    margin-right: 2.5rem;
  }
  .code-blurb {
    grid-row: row-name/footer;
    overflow: auto;
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .code-nav,
  .code-blurb {
    grid-column: logo/right-margin;
    margin-right: 0rem;
  }
}

/* Gallery */

.fade-out {
  mask-image: linear-gradient(to top, transparent, black, black, transparent);
  overflow-y: scroll;
}

@media screen and (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, 5rem);
    grid-gap: 2.5rem;
  }
  .design-position {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 500px) {
  .gallery-container {
    align-self: center;
    min-width: 100%;
    min-height: 100%;
  }
  .gallery {
    justify-content: center;
    min-width: 100%;
    min-height: 100%;
  }
}

/* .album img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  background-color: var(--emphasis-light-color);
  border-radius: 50%;
} */

@media screen and (max-width: 1154px) {
  /* .album-one figure {
    clip-path: none;
    overflow: hidden;
  }

  .album-one a {
    object-fit: cover;
    height: 100%;
    display: flex;
    align-items: center;
  } */

  /* .album img {
    border-radius: 0;
  } */
}

/* .album a,
.album img {
  padding: 0;
  color: transparent;
}

.album a {
  width: 100%;
}

.album a:hover,
.album a:link,
.album a:visited {
  background-color: transparent;
  color: transparent;
} */

.album-two {
  display: contents;
}

.album {
  display: grid;
  min-height: 100%;
  margin: 0 0 0 2.5rem;
}

.album-one {
  grid-template-columns: 1fr;
  height: 40vh;
}

@media screen and (max-width: 1154px) {
  .album {
    display: grid;
    min-height: 100%;
    margin: 0;
  }
}

.album-two {
  grid-template-columns: repeat(2, 1fr);
  height: 30vh;
}

@media screen and (max-width: 1280px) {
  .album-two {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1154px) {
  .album-two {
    height: 70vh;
  }
}

.album > div {
  display: contents;
}

.album-three div {
  display: grid;
}

.album-one .thumbnail {
  width: 100%;
}

.album-two .thumbnail {
  margin-right: 1.125rem;
  margin-bottom: 1.125rem;
}
