/* CONTAINERS */

.content-grid {
    display: grid;
    min-height:100vh;
    grid-template-columns:[start] minmax(2rem, .5fr) [logo] minmax(0, min-content) [content] 4fr [overlap] 1fr [nav] min-content [right-margin] minmax(2rem, .5fr) [end];
    grid-template-rows:minmax(7rem, 10rem);
    grid-gap: 1.5rem;
}

@media screen and (max-width: 1700px) {
    .content-grid {
        grid-template-columns:[start] minmax(2rem, .5fr) [logo] minmax(0, min-content) [content] 4fr [overlap nav] min-content [right-margin] minmax(2rem, .5fr) [end];

    }
}

@media screen and (max-width: 1500px) {
    .content-grid {
        grid-template-columns:[start] minmax(2rem, .5fr) [content] 4fr [overlap nav] min-content [right-margin] minmax(2rem, .5fr) [end];

    }
}


@media screen and (max-width: 1000px) {
    .content-grid {
        grid-template-columns:[start] minmax(.5rem, .5fr) [content overlap nav] 4fr [right-margin] minmax(.5rem, .5fr) [end];

    }
}

@media screen and (max-width: 500px) {
    .content-grid {
        grid-template-columns:[start] .1fr [content overlap nav] 4fr [right-margin] .1fr [end];

    }
    .nav-links {
        display:none;
    }
}


@media screen and (max-width: 350px) {
    .content-grid {
        grid-template-columns:[start] .0fr [content overlap nav] 4fr [right-margin] .0fr [end];

    }
}

.header{
    display:contents;
}

.header-bg {
    grid-column:1 / -1;
    grid-row:1 / 2;
    height:3.7rem;
    background-color:var(--background-color);
    opacity:0.85;
    /* background-color:red; */
    z-index:3;
    position:sticky;
    top:0;
}