/* NAV */

.logo {
    align-self: center;
    color:var(--emphasis-dark-color);
    font-weight: 500;
    font-size:2.25rem;
    z-index: 5;
    position:sticky;
    top:0;
    grid-column: 2 / span 1 ;
    grid-row:1 / 2;
    /* background-color: var(--background-color);
    padding:1rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone; */
}

.logo > span {
    color:var(--emphasis-light-color);
}

.nav-links  {
    align-self: center;
    position:sticky;
    top:0;
    z-index:5;
    grid-column:nav / span 1;
    grid-row:1 / 2;
    background-color:var(--background-color);
}

@media screen and (max-width: 1000px) {
    .nav-links {
        display:none;
    }
}


.nav-links > ul {
    list-style:none;
    display:flex;
    justify-content:flex-end;
}

.nav-links > ul > li:first-child  {
    margin-left: .5rem;
}

.nav-links > ul > li:last-child  {
    margin-right: .5rem;
}

.nav-links > ul > li:not(:first-child)  {
    margin-left: 4rem;
}

.nav-links > ul > li {
    margin-top:0.75rem;
    margin-bottom:0.75rem;
}

.nav-links > ul > li > a {
    font-weight:200;
    font-size: 1.5rem;
}

.header > i {
    display:none;
}


@media screen and (max-width: 1000px) {
    .header > i {
        display:flex;
        justify-content:flex-end;
        grid-column:nav / span 1;
        grid-row:1 / 2;
        z-index:5;
        position:sticky;
        top:0;
        align-self: center;
        color:var(--emphasis-dark-color);
        font-weight: 500;
        font-size:2.25rem;
    }
}