/* GENERAL */

* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;
    font-size: 16px;
    --emphasis-dark-color: #3d3d3d;
    --emphasis-light-color: #7b7b7b;
    --emphasis-lighter-color: #EAEAEA;
    --background-color: #f6f6f6;
    line-height: 1.5;
    font-family: 'Barlow', Arial, Helvetica, sans-serif;
}

body {
    background: var(--background-color);
    color: var(--emphasis-dark-color);
}

a:link {
    font-weight:bold;
    text-decoration: none;
    color: #000;
}

h1 {
    font-weight: 500;
}

p {
    font-size:1.5rem;
}


/* CONTAINERS */

.content-grid {
    display: grid;
    grid-template-columns:minmax(2rem, .5fr) minmax(0, min-content) 4fr 1fr min-content minmax(2rem, .5fr);
    grid-template-rows:minmax(7rem, 10rem) calc(100vh - 11.5rem) repeat(auto-fit, 100vh);
    grid-gap: 1.5rem;
}

.min-height {
    min-height:80vh;
}

.header{
    display:contents;
}

.bg {
    height:100vh;
    width:100vw;
    z-index:-5;
}

.img1{
    background-color:var(--emphasis-dark-color);
}
.img2{
    background-color:var(--emphasis-light-color);
}

/* NAV */

.logo {
    align-self: center;
    color:var(--emphasis-dark-color);
    font-weight: 500;
    font-size:2.25rem;
    z-index: 5;
    position:sticky;
    top:0;
    grid-column:2/3;
    background-color: var(--background-color);
    padding:1rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.logo > span {
    color:var(--emphasis-light-color);
}

.nav-links  {
    align-self: center;
    position:sticky;
    top:0;
    z-index:5;
    grid-column:5/6;
    background-color:var(--background-color);
}


.nav-links > ul {
    list-style:none;
    display:flex;
    justify-content:flex-end;
}

.nav-links > ul > li:first-child  {
    margin-left: 2.5rem;
}

.nav-links > ul > li:not(:first-child)  {
    margin-left: 4rem;
}

.nav-links > ul > li {
    margin-top:0.75rem;
    margin-bottom:0.75rem;
}

.nav-links > ul > li > a {
    font-weight:200;
    font-size: 1.5rem;
}


/* main-description */

.content-block{
    display:contents;
}

.content-block article:nth-child(n+2), .content-block aside:nth-child(n+2)  {
    margin: 23vh 0;
}

.main-description {
    grid-column: 3 / 4;
    grid-row: span 1;
    align-self:center;
    z-index:2;
}

.main-description > h1:first-of-type span {
    font-size:6rem;
    color:var(--emphasis-light-color);
    background-color: #ffffff;
    padding:1rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.main-description h2, .main-description p {
    color:var(--emphasis-dark-color);
    
}

.main-description > h2 {
    font-weight:500;
    font-size:2.25rem;
    padding:2rem 0;
}

.main-description h2 span {
    display: table;
}


.video-preview {
    grid-row:span 1;
    grid-column: 4 / 6;
    align-self:center;
    width:100%;
    height:0;
    padding-top:100%;
    border-radius:50%;
    background-color:var(--emphasis-lighter-color);
    z-index:1;
}

.thumbnail-container {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-items:flex-start;
    margin:2rem 0;
}

.thumbnail-1 {
    width:4rem;
    height:4rem;
    border-radius:50%;
    background-color:var(--emphasis-lighter-color);
    margin: 2rem 4rem 2rem 0;
}





