.gallery-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.625rem 0 2.5rem 0;
  margin-left: -1.125rem;
}

@media screen and (max-width: 1599px) {
  .gallery-nav {
    padding: 0.625rem 0 1.125rem 0;
  }
}

@media screen and (max-width: 768px) {
  .gallery-nav {
    display: flex;
    flex-direction: column;
    padding: 0.625rem 0 0.625rem 0;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 1154px) {
  .gallery-nav {
    margin-left: 0rem;
  }
}

.gallery-blurb {
  max-width: 60rem;
  margin-bottom: 3rem;
}

@media screen and (max-width: 768px) {
  .gallery-blurb {
    margin-bottom: 1.75rem;
  }
}

/* Gallery */

.gallery {
  max-width: 100%;
  min-width: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 10rem);
  grid-gap: 2.5rem;
  min-height: 100%;
}

.gallery div {
  display: contents;
}
.gallery figure {
  display: flex;
  justify-self: flex-start;
  width: 10rem;
  height: 10rem;
}

.gallery figure img {
  height: 100%;
  width: auto;
  cursor: pointer;
  border-radius: 50%;
}

.gallery figure a,
.gallery figure img,
.gallery figure {
  padding: 0;
  background-color: transparent;
  color: transparent;
}

.gallery a {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1600px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, 8rem);
  }
  .gallery figure {
    width: 8rem;
    height: 8rem;
  }
}

@media screen and (max-width: 1154px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, 7rem);
    grid-gap: 1.5rem;
    margin-bottom: 2.5rem;
  }
  .gallery figure {
    width: 7rem;
    height: 7rem;
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, 6rem);
    grid-gap: 1rem;
  }
  .gallery figure {
    width: 6rem;
    height: 6rem;
  }
  .design-position {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 358px) {
  .gallery {
    justify-content: center;
  }
}
