.header {
  display: contents;
}
.header-bg {
  opacity: 0.75;
  backdrop-filter: blur(20px);
  z-index: 4;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 7rem;
}
@media screen and (max-width: 1550px) {
  .header-bg {
    height: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .header-bg {
    height: 4rem;
  }
}

.header-vis {
  background-color: var(--shade-6);
}

.header-trans {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: var(--logo);
  z-index: 6;
  position: sticky;
  top: 0;
  grid-column: logo/span 1;
  grid-row: row-start/span 1;
  height: 100%;
  white-space: nowrap;
}

/* .logo span {
  color: var(--shade-4);
} */

.logo a:link,
.logo a:hover,
.logo a:visited {
  background-color: transparent;
  color: var(--shade-1);
  font-weight: 500;
  padding: 0;
}

.logo a:link > span,
.logo a:hover > span,
.logo a:visited > span {
  color: var(--shade-3a);
}
