.header {
  display: contents;
}
.header-bg {
  grid-column: 1/-1;
  grid-row: row-start/row-content;

  align-items: center;
  opacity: 0.85;
  z-index: 4;
  position: sticky;
  top: 0;
}

.header-vis {
  background-color: var(--color-bg);
}

.header-trans {
  background-color: transparent;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: var(--logo);
  z-index: 6;
  position: sticky;
  top: 0;
  grid-column: logo/span 1;
  grid-row: row-start/span 1;
  height: 100%;
  white-space: nowrap;
}

/* .logo span {
  color: var(--shade-4);
} */

.logo a:link,
.logo a:hover,
.logo a:visited {
  background-color: transparent;
  color: var(--shade-1);
  font-weight: 500;
  padding: 0;
}

.logo a:link > span,
.logo a:hover > span,
.logo a:visited > span {
  color: var(--shade-3a);
}
