.header {
  display: contents;
}
.header-bg {
  grid-column: 1/-1;
  grid-row: row-start/row-content;
  height: 7rem;
  align-items: center;
  opacity: 0.85;
  z-index: 3;
  position: sticky;
  top: 0;
}

@media screen and (max-width: 1550) {
  .header-bg {
    height: 5rem;
  }
}

@media screen and (max-width: 768) {
  .header-bg {
    height: 4rem;
  }
}

.header-vis {
  background-color: var(--background-color);
}

.header-trans {
  background-color: transparent;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: var(--logo);
  z-index: 6;
  position: sticky;
  top: 0;
  grid-column: logo/span 1;
  grid-row: row-start/span 1;
  height: 100%;
  white-space: nowrap;
}

.logo span {
  color: var(--emphasis-light-color);
}

.logo a:link,
.logo a:hover,
.logo a:visited {
  background-color: transparent;
  color: var(--emphasis-dark-color);
  font-weight: 500;
  padding: 0;
}

.logo a:link > span,
.logo a:hover > span,
.logo a:visited > span {
  color: var(--emphasis-light-color);
}
