.nav-tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.625rem 0 2.5rem 0;
}

@media screen and (max-width: 1154px) {
  .nav-tabs {
    margin: 0rem;
  }
}

@media screen and (max-width: 768px) {
  .nav-tabs {
    display: flex;
    flex-direction: column;
    padding: 0.625rem 0 0.625rem 0;
  }
}

.content-nav-btn {
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
  background-color: transparent;
}

.text-btn {
  font-size: clamp(0.8rem, 1.33rem, 1vw);
  color: var(--shade-1);
  border-bottom: 0.25rem solid transparent;
  margin-right: 2.5rem;
  padding: 1.125rem 0;
}
.text-btn:hover {
  border-bottom: 0.25rem solid var(--danger);
  outline: 0;
}

.text-btn:focus,
.selected {
  border-bottom: 0.25rem solid var(--shade-1);
  outline: 0;
}

@media screen and (max-width: 768px) {
  .text-btn {
    width: 100%;
    padding: 1.125rem;
    background-color: transparent;
    border-bottom: 0 solid transparent;
    border-left: 0.25rem solid transparent;
  }
  .text-btn:hover {
    background-color: var(--shade-5);
    border-bottom: 0 solid transparent;
    border-left: 0.25rem solid var(--shade-6);
  }
  .text-btn:focus,
  .selected {
    border-bottom: 0rem solid transparent;
    border-left: 0.25rem solid var(--shade-1);
  }
}

.thumbtabs {
  /* margin-top: 2.5rem; */
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, 6rem);
  grid-gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, var(--thumbtab-vid));
  grid-auto-flow: row;
}

@media screen and (max-width: 1154px) {
  .thumbtabs {
    grid-column: sub-mid/sub-end;
    grid-row: sub-row-start/sub-row-mid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    height: 100%;
    z-index: 2;
  }
}
@media screen and (max-width: 768px) {
  .thumbtabs {
    grid-column: sub-start/sub-end;
    grid-row: sub-row-mid/sub-post-mid;
    display: grid;
    flex-direction: row;
  }
}
