* {
  margin: 0;
  padding: 0;
}
body,
html {
  min-height: 100%;
  font-size: 16px;
  --emphasis-dark-color: #3d3d3d;
  --emphasis-light-color: #7b7b7b;
  --emphasis-lighter-color: #eaeaea;
  --background-color: #f6f6f6;
  line-height: 1.5;
  font-family: Barlow, Arial, Helvetica, sans-serif;
}
body {
  background: var(--background-color);
  color: var(--emphasis-dark-color);
}
a:link,
a:visited {
  font-weight: 700;
  text-decoration: none;
  color: #000;
  padding: 0.1rem 0.5rem;
}
a:hover {
  font-weight: 700;
  background-color: var(--emphasis-dark-color);
  color: var(--emphasis-lighter-color);
  padding: 0.25rem 0.5rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
h1 {
  font-weight: 500;
}
p {
  font-size: 1.5rem;
}
