.nav-links {
  align-self: center;
  position: sticky;
  top: 0;
  z-index: 5;
  grid-column: bg-pad/overlap;
  grid-row: 1/2;
  width: 100%;
}
.nav-links > ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  /* margin-left: 2.5rem; */
}

.nav-links > ul > li {
  align-self: center;
  margin: 0.75rem 1.5rem 0.75rem 0;
}
.nav-links > ul > li > a {
  font-weight: 300;
  font-size: var(--navtext);
}

.nav-links > ul > li > a:focus {
  outline: 0.25rem solid var(--emphasis-light-color);
}

@media screen and (max-width: 1154px) {
  .nav-links {
    grid-column: overlap/right-margin;
  }
  .nav-links > ul {
    justify-content: flex-end;
  }

  .nav-links > ul > li:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 590px) {
  .nav-links {
    height: 100vh;
    width: 100vw;
    display: flex;
    position: fixed;
    left: 0;
    z-index: 4;
    background-color: white;
    opacity: 0.975;
    justify-content: center;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }

  .nav-hidden {
    transform: translateX(-110vw);
  }

  .nav-visible {
    transform: translateX(0vw);
  }

  .nav-links > ul {
    align-self: center;
    height: 80vh;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .nav-links > ul li,
  #nav-links > ul > li:first-child,
  #nav-links > ul > li:not(:first-child) {
    display: flex;
    margin: 0rem;
    align-self: center;
  }
  .nav-links > ul > li > a {
    font-size: 2rem;
  }
}
