.nav-links {
  align-self: center;
  position: sticky;
  top: 0;
  z-index: 5;
  grid-column: bg-pad/overlap;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
}
.nav-links ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  height: 100%;
}

.nav-links li {
  align-self: center;
  margin: 0.75rem 1.5rem 0.75rem 0;
}
.nav-links a {
  padding: 0 0 1rem 0;
  /* margin: 0.125rem 0.25rem; */
  font-weight: 300;
  font-size: var(--navtext);
  border-bottom: 0.25rem solid transparent;
}

.nav-links a:hover {
  color: var(--shade-1);
  background-color: transparent;
  border-bottom: 0.25rem solid var(--shade-2);
  outline: 0;
}

.nav-links a:focus {
  outline: 0;
}

@media screen and (max-width: 1154px) {
  .nav-links {
    grid-column: edge/right-margin;
  }
  .nav-links ul {
    justify-content: flex-end;
  }

  .nav-links li:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .nav-links {
    height: 100vh;
    width: 100vw;
    display: flex;
    position: fixed;
    left: 0;
    z-index: 4;
    background-color: var(--shade-6);
    opacity: 0.975;
    justify-content: center;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }

  .nav-hidden {
    transform: translateX(-110vw);
  }

  .nav-visible {
    transform: translateX(0vw);
  }

  .nav-links > ul {
    align-self: center;
    height: 80vh;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .nav-links li,
  #nav-links li:first-child,
  #nav-links li:not(:first-child) {
    display: flex;
    margin: 0rem;
    align-self: center;
  }
  .nav-links a {
    font-size: 2rem;
  }
}
