.home-pos,
.video-pos,
.design-pos,
.about-pos,
.code-pos,
.code-pos main,
.code-pos article {
  display: contents;
}

.home-pos main,
.video-pos main,
.about-pos main,
.design-pos main,
.code-pos main {
  grid-row: row-content/footer;
  align-self: center;
  z-index: 2;
}

/* HOME */

.home-pos {
  min-height: 100%;
}

.home-pos main {
  grid-column: content/right-margin;
  min-width: 100%;
  display: grid;
  grid-template-columns:
    [h-col-0 h-col-1] 15rem [h-col-2] 18rem [h-col-3 h-text] minmax(
      15rem,
      0.75fr
    )
    [h-col-4 chev] auto [chev-end h-col-5] 20rem [h-col-6];
  grid-template-rows: [h-row-1] 0.5fr [h-row-2] 0.5fr [h-row-3] 1fr [h-row-4];
}

@media screen and (max-width: 1550px) {
  .home-pos main {
    grid-column: logo/right-margin;
    grid-row: row-content/footer;
    grid-template-columns: [h-col-0].25fr[h-col-1] 13rem [h-col-2] 13rem [h-col-3 h-text] 1fr [h-col-4 chev] 0.25fr [chev-end h-col-5].25fr [h-col-6];
  }
}

@media screen and (max-width: 1154px) {
  .home-pos main {
    grid-template-columns: [h-col-0 h-col-pad-l] 0.25fr [h-col-1 h-col-2 h-col-3] 0.5fr [h-text] 0.5fr [chev] 0.25fr [chev-end h-col-4] 0.25fr [h-col-5 h-col-6];
    grid-row: row-content/footer;
  }
}

@media screen and (max-width: 900px) {
  .home-pos main {
    grid-template-columns: [h-col-0 h-col-pad-l] 0.25fr [h-col-1 h-col-2 h-col-3 h-text] 1fr [chev] 0.25fr [chev-end h-col-4] 0.25fr [h-col-5 h-col-6];
  }
}

@media screen and (max-width: 700px) {
  .home-pos main {
    grid-template-rows: [h-row-1] 0.5fr [h-row-2 ] 0.5fr [h-row-3 ] auto [h-row-4]auto[ h-row-5];
    align-self: center;
  }
}

/* VIDEO / ABOUT */

.video-pos main,
.about-pos main {
  grid-column: content/right-fold;
  margin-right: 2.5rem;
}

@media screen and (max-width: 1154px) {
  .video-pos,
  .about-pos {
    grid-column: logo/right-margin;
    grid-row: row-content/footer;
  }
  .video-pos section,
  .about-pos section {
    grid-column: sub-start/sub-mid;
    grid-row: 1/2;
    z-index: 2;
  }
}

/* DESIGN / CODE */

.design-pos main {
  grid-column: content/right-margin;
}

.code-pos main {
  display: contents;
}

@media screen and (max-width: 1154px) {
  .design-pos,
  .code-pos {
    display: block;
    grid-column: logo/right-margin;
    grid-row: row-content/footer;
    min-height: 100%;
  }
}
