.full-height {
  min-height: calc(100% -5rem);
}

.full-height main {
  min-height: 100%;
}

.content-style-1 main section h1 {
  font-size: 3.7vw;
  width: 100%;
  color: var(--emphasis-light-color);
}

h1.em-heading,
.em-heading main section h1 span {
  background-color: #fff;
  padding: 1rem 2.5rem;
  /* margin-left: -2.5rem; */
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.content-style-1 main article {
  padding-bottom: 2.5rem;
}
.content-style-1 main article h2,
.content-style-1 main article p {
  color: var(--emphasis-dark-color);
}
.content-style-1 main article p span {
  background-color: var(--background-color);
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  box-shadow: 0.5em 0 0 var(--background-color),
    -0.5em 0 0 var(--background-color);
  line-height: 2rem;
  padding: 5px;
  padding-left: 0;
}
.content-style-1 main article > h2 {
  font-weight: 500;
  font-size: 2vw;
  padding: 2rem 0;
}
.content-style-1 main article h2 span {
  display: table;
}
@media screen and (max-width: 1154px) {
  .content-style-1 main section > h1:first-of-type span {
    font-size: 4rem;
  }

  h1.em-heading,
  .em-heading main section h1 {
    background-color: #fff;
    padding: 1rem;
  }

  .em-heading main section h1 span {
    background-color: transparent;
    padding: 0;
  }
  .content-style-1 main article > h2 {
    font-size: 1.5rem;
    padding: 2rem 0;
  }
  .content-style-1 main article > p {
    font-size: 1.25rem;
  }
}
