.home-position {
  display: contents;
  min-height: 100%;
}

.home-position main {
  grid-column: content/right-margin;
  grid-row: row-content/footer;
  align-self: center;
  z-index: 2;
  min-width: 100%;
  /* padding-bottom: 2.5rem; */
  display: grid;
  grid-template-columns:
    [h-col-0 h-col-1] 15rem [h-col-2] 18rem [h-col-3 h-text] minmax(
      15rem,
      0.75fr
    )
    [h-col-4 chev] auto [chev-end h-col-5] 20rem [h-col-6];
  grid-template-rows: [h-row-1] 0.5fr [h-row-2] 0.5fr [h-row-3] 1fr [h-row-4];
}

@media screen and (max-width: 1550px) {
  .home-position main {
    grid-column: logo/right-margin;
    grid-row: row-content/footer;
    grid-template-columns: [h-col-0].25fr[h-col-1] 13rem [h-col-2] 13rem [h-col-3 h-text] 1fr [h-col-4 chev] 0.25fr [chev-end h-col-5].25fr [h-col-6];
  }
}

@media screen and (max-width: 1154px) {
  .home-position main {
    grid-template-columns: [h-col-0 h-col-pad-l] 0.25fr [h-col-1 h-col-2 h-col-3] 0.5fr [h-text] 0.5fr [chev] 0.25fr [chev-end h-col-4] 0.25fr [h-col-5 h-col-6];
    grid-row: row-content/footer;
  }
}

@media screen and (max-width: 900px) {
  .home-position main {
    /* padding-bottom: 2.5rem; */
    grid-template-columns: [h-col-0 h-col-pad-l] 0.25fr [h-col-1 h-col-2 h-col-3 h-text] 1fr [chev] 0.25fr [chev-end h-col-4] 0.25fr [h-col-5 h-col-6];
  }
}

@media screen and (max-width: 700px) {
  .home-position main {
    /* margin-top: 0rem; */
    grid-template-rows: [h-row-1] 0.5fr [h-row-2 ] 0.5fr [h-row-3 ] auto [h-row-4]auto[ h-row-5];
    align-self: center;
  }
}

.video-position {
  display: contents;
}

.video-position main {
  grid-column: content/right-fold;
  grid-row: row-content/footer;
  align-self: center;
  z-index: 2;
}

@media screen and (max-width: 1154px) {
  .video-position {
    grid-column: logo/right-margin;
    grid-row: row-content/footer;
  }
  .video-position section {
    grid-column: sub-start/sub-mid;
    grid-row: 1/2;
    z-index: 2;
  }
}

.design-position {
  display: contents;
}

.design-position main {
  grid-column: content/right-margin;
  grid-row: row-content/footer;
  align-self: center;
  z-index: 2;
}

@media screen and (max-width: 1154px) {
  .design-position {
    display: block;
    grid-column: logo/right-margin;
    grid-row: row-content/footer;
    margin-bottom: 2.5rem;
    min-height: 100%;
  }
}

.panel-bg {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 2.5rem;
  box-shadow: -10px 9px 5px -10px rgba(0, 0, 0, 0.1),
    -10px 20px 20px -10px rgba(0, 0, 0, 0.05);
}
