.home-pos,
.video-pos,
.video-pos main,
.design-pos,
.about-pos,
.code-pos,
.code-pos main,
.code-pos article {
  display: contents;
}

.home-pos main,
.video-pos main,
.about-pos main,
.design-pos main,
.code-pos main {
}

/* HOME */

.home-pos main {
}

/* ABOUT */

.about-pos main {
}

@media screen and (max-width: 1154px) {
  .about-pos {
    grid-column: logo/right-margin;
    grid-row: row-content/footer;
  }
  .about-pos section {
    grid-column: sub-start/sub-mid;
    grid-row: 1/2;
    z-index: 2;
  }
}

/* DESIGN / CODE */

.design-pos main {
  grid-column: content/right-margin;
}

@media screen and (max-width: 1154px) {
  .design-pos,
  .code-pos {
    display: block;
    grid-column: logo/right-margin;
    grid-row: row-content/footer;
    min-height: 100%;
  }
}
