/* .content-grid {
  justify-self: center;
  display: grid;
  width: 80vw;
  max-width: 1800px;
  grid-gap: 0;
  min-height: 100%;
  grid-template-columns:
    [logo] min-content
    [edge] 2.5rem [logo-pad] 2.5rem [bg-pad content] 1fr [content-mid] minmax(
      min-content,
      1fr
    )
    [aside] 1fr[overlap] 0.5fr
    [right-fold] 1fr [pre-margin] 1fr [right-margin];
  grid-template-rows:
    [row-start] 7rem [row-content] 1fr [row-select] minmax(
      6.125rem,
      min-content
    )
    [row-name] 5rem [row-email] 5rem [row-message] 5rem [row-msg-end] 5rem [row-submit] 6.25rem [post-form] 1fr [footer] auto [row-end];
}

@media screen and (max-width: 1550px) {
  .content-grid {
    grid-template-rows:
      [row-start] 5rem [row-content] 1fr [row-select] minmax(
        6.125rem,
        min-content
      )
      [row-name] 5rem [row-email] 5rem [row-message] 5rem [row-msg-end] 5rem [row-submit] 6.25rem [post-form] 1fr [footer] auto [row-end];
  }
}
@media screen and (max-width: 1154px) {
  .content-grid {
    grid-template-rows:
      [row-start] 5rem [row-content] auto [row-select] 5rem
      [row-name] 4rem [row-email] 4rem [row-message] 3.75rem [row-msg-end] 4rem [row-submit] 6.25rem [post-form] 1fr [footer] auto [row-end];
  }
}
@media screen and (max-width: 768px) {
  .content-grid {
    grid-template-columns: [logo edge content logo-pad bg-pad aside overlap right-fold] 1fr [content-mid aside] 1fr [pre-margin right-margin];
    grid-template-rows:
      [row-start] 4rem [row-content] auto [row-select] minmax(
        5.125rem,
        min-content
      )
      [row-name] 4rem [row-email] 4rem [row-message] 4rem [row-msg-end] 10rem [row-submit] 6.25rem [post-form] 1fr [footer] auto [row-end];
  }
}

@media screen and (max-width: 590px) {
  .content-grid {
    grid-template-rows:
      [row-start] 4rem [row-content] auto [row-select] minmax(
        5.125rem,
        min-content
      )
      [row-name] 4rem [row-email] 4rem [row-message] 4rem [row-msg-end] 6rem [row-submit] 6rem [post-form] 1fr [footer] auto [row-end];
  }
} */
