/* 2 */

.home-chevron {
  grid-column: chev / chev-end;
  grid-row: h-row-1/ h-row-4;
  align-self: center;
  justify-self: flex-end;
  margin-left: 5rem;
}

.content-style-2 main section {
  display: contents;
}

.content-style-2 main section h1 {
  display: contents;
  font-style: italic;
}

.content-style-2 main section h1 span:first-of-type {
  grid-column: h-col-1/h-col-4;
  grid-row: h-row-1/h-row-2;
  align-self: center;
  font-weight: 300;
  color: var(--emphasis-dark-color);
  font-size: 6rem;
}

.content-style-2 main section h1 span:last-of-type {
  grid-column: h-col-2/h-col-4;
  grid-row: h-row-2/h-row-3;
  margin: -5.5rem 0 0 0rem;
  font-style: normal;
  font-weight: 500;
  font-size: 8rem;
  text-transform: lowercase;
}

.content-style-2 main article {
  align-self: flex-start;
  grid-column: h-text/h-col-4;
  grid-row: h-row-3/h-row-4;
}
.content-style-2 main article h2,
.content-style-2 main article p {
  color: var(--emphasis-dark-color);
  /* margin-left: 30rem; */
}

.content-style-2 main article h2 {
  font-weight: 500;
  font-size: 1.75rem;
}
/* .content-style-2 main article h2 span {
  display: table;
} */
@media screen and (max-width: 1154px) {
  .content-style-2 main section h1 span:first-of-type {
    font-size: 4rem;
    /* place-self: center; */
  }

  .content-style-2 main section h1 span:last-of-type {
    margin: -3rem 0 0 0rem;
    font-size: 5.5rem;
    text-transform: lowercase;
    place-self: center;
  }

  .content-style-2 main article {
    justify-self: center;
  }

  .content-style-2 main article > h2 {
    font-size: 1.5rem;
  }
  .content-style-2 main article > p {
    font-size: 1.25rem;
  }
  .home-chevron {
    margin: 0;
    justify-self: flex-end;
  }
}

@media screen and (max-width: 800px) {
  .content-style-2 main section h1 span:last-of-type {
    justify-self: flex-start;
  }
}

.home-bg-img {
  grid-column: logo/right-margin;
  grid-row: row-content/footer;
  background-color: var(--emphasis-lighter-color);
  min-width: 100%;
  margin-bottom: 2.5rem;
  z-index: -4;
}

@media screen and (max-width: 1154px) {
  /* .home-bg-img {
    margin-bottom: 0;
  } */
}

@media screen and (max-width: 590px) {
  .content-style-2 main section h1 span {
    grid-column: h-col-1/h-col-4;
    grid-row: h-row-1/h-row-2;
  }
  .content-style-2 main section h1 span:first-of-type {
    font-size: 3rem;
    justify-self: center;
  }

  .content-style-2 main section h1 span:last-of-type {
    font-size: 4rem;
    margin: -2.5rem 0 0 0rem;
    justify-self: center;
  }

  .content-style-2 main article h2 {
    font-size: 1.25rem;
  }
  .content-style-2 main article {
    margin-top: 1rem;
    justify-self: center;
    text-align: center;
  }
  .home-chevron {
    grid-column: h-col-1/ h-col-4;
    grid-row: h-row-4/ h-row-5;
    justify-self: center;
    margin: 2.5rem 0 2.5rem 0;
  }
}

a:link .chevron,
a:visited .chevron {
  fill: var(--emphasis-light-color);
}

a:hover .chevron {
  fill: var(--emphasis-dark-color);
  padding: 0;
  background-color: transparent;
}
