/* Showcase */

.preview-container {
  align-self: center;
  padding: 0;
  display: grid;
  cursor: pointer;
  clip-path: circle();
  min-height: 0;
  min-width: 0;
  align-items: center;
  justify-items: center;
  background-color: var(--shade-6);
}
.video-preview {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}

.video-preview a:link,
.video-preview a:hover,
.video-preview a:active,
.video-preview a:focus {
  outline: none;
  color: transparent;
  background-color: transparent;
  padding: 0;
}

.video-preview,
.video-preview a,
.video-preview img,
.video-preview video {
  margin: 0;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-loop-prev {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  filter: blur(20px);
  background-color: var(--emphasis-light-color);
}

@media screen and (max-width: 1154px) {
  .video-loop-prev {
    position: relative;
  }
}

.video-preview::before,
.video-preview a::before,
.video-preview img::before,
.video-preview video::before {
  content: "";
  float: left;
  padding-top: 100%;
}

.video-preview video {
  object-fit: cover;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}

@media screen and (max-width: 1154px) {
  .preview-container {
    grid-column: sub-start/sub-mid;
    grid-row: sub-row-title/sub-row-mid;
    align-self: center;
    clip-path: none;
    height: 100%;
    min-width: 100%;
    /* grid-template-rows: [one] minmax(23.5rem, 30vh) [two]; */
    padding: 0;
    margin: 0;
    align-self: flex-start;
  }
  .video-preview {
    /* border-radius: 0; */

    z-index: 1;
    background-position: center bottom;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  .video-preview a,
  .video-preview img,
  .video-preview video {
    width: 100%;
    clip-path: none;
  }
}

.video-blur {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .preview-container {
    grid-template-rows: [one] minmax(10rem, 20vh) [two];
  }
}

@media screen and (max-width: 390px) {
  .preview-container {
    grid-template-rows: [one] minmax(7rem, 15vh) [two];
  }
}

/* Showcase Content */

.showcase-content {
  display: contents;
}

@media screen and (max-width: 1154px) {
  .showcase-content {
    display: grid;
    grid-template-columns: [sub-start] 1fr [sub-mid] min-content [sub-end];
    grid-template-rows:
      [sub-row-start] min-content [sub-row-title] minmax(23.5rem, 30vh)
      [sub-row-mid sub-post-mid] min-content [sub-row-end];
    flex-direction: row;
    grid-gap: 2.5rem;
    gap: 2.5rem;
  }
  .showcase-content main {
    display: contents;
    align-self: flex-start;
  }
  .showcase-content main article {
    grid-column: sub-start/sub-mid;
    grid-row: sub-post-mid/sub-row-end;
  }
  .showcase-content section:first-of-type {
    margin: 0;
  }
  .preview-container {
    align-self: flex-end;
  }
}
@media screen and (max-width: 768px) {
  .showcase-content {
    grid-template-columns: [sub-start] 2fr [sub-mid sub-end];
    grid-template-rows:
      [sub-row-start] min-content [sub-row-title] minmax(10rem, 20vh)
      [sub-row-mid] min-content [sub-post-mid] 1fr [sub-row-end];
    grid-gap: 1.75rem;
    gap: 1.75rem;
  }
}

@media screen and (max-width: 390px) {
  .showcase-content {
    grid-template-columns: [sub-start] 2fr [sub-mid sub-end];
    grid-template-rows:
      [sub-row-start] min-content [sub-row-title] minmax(7rem, 15vh)
      [sub-row-mid] min-content [sub-post-mid] 1fr [sub-row-end];
    grid-gap: 1.125rem;
    gap: 1.125rem;
  }
}
