/* Showcase */
/* 
.preview-container {
  align-self: center;
  padding: 0;
  display: grid;
  cursor: pointer;
  clip-path: circle();
  min-height: 0;
  min-width: 0;
  align-items: center;
  justify-items: center;
  background-color: var(--shade-6);
}


@media screen and (max-width: 1154px) {
  .preview-container {
    grid-column: sub-start/sub-mid;
    grid-row: sub-row-title/sub-row-mid;
    align-self: center;
    clip-path: none;
    height: 100%;
    min-width: 100%;
    padding: 0;
    margin: 0;
    align-self: flex-start;
  }
}

.video-blur {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .preview-container {
    grid-template-rows: [one] minmax(10rem, 25vmax) [two];
  }
}

@media screen and (max-width: 390px) {
  .preview-container {
    grid-template-rows: [one] minmax(7rem, 25vmax) [two];
  }
}

@media screen and (max-width: 1154px) {
  .preview-container {
    align-self: flex-end;
  }
} */
