.content-grid {
  justify-self: center;
  display: grid;
  grid-template-columns:
    [logo] minmax(0, min-content)
    [edge content] 2.5rem [logo-pad] 2.5rem [bg-pad] 1.5fr [aside] 1fr[overlap] 0.5fr
    [nav] 3fr [right-margin];
  width: 80vw;
  max-width: 1800px;
  grid-gap: 0;
  min-height: 100%;
}

.standard-grid-rows {
  grid-template-rows: [row-start] minmax(7rem, 10rem) [row-content] 1fr [footer] auto [row-end];
}

.contact-grid-rows {
  grid-template-rows: [row-start] minmax(7rem, 10rem) [row-content] 1fr [row-name] 5rem [row-email] 5rem [row-message] 5rem [row-msg-end] 13rem [row-submit] 6.25rem [post-form] 1fr [footer] auto [row-end];
}

@media screen and (max-width: 1600px) {
  .content-grid {
    grid-template-columns:
      [logo content] minmax(0, min-content)
      [edge] 2.5rem [logo-pad] 2.5rem [bg-pad] 1.5fr [aside] 0.5fr[overlap] minmax(
        min-content,
        1fr
      )
      [nav] 3fr [right-margin];
  }
}
@media screen and (max-width: 1154px) {
  .content-grid {
    grid-template-columns: [logo edge content logo-pad bg-pad overlap nav] 30vw [aside] 60vw [right-margin];
    width: auto;
  }
}
@media screen and (max-width: 740px) {
  .content-grid {
    grid-template-columns: [logo edge content logo-pad bg-pad aside overlap nav] 45vw [aside] 45vw [right-margin];
  }

  .standard-grid-rows {
    grid-template-rows: [row-start] 7rem [row-content] 1fr [footer] auto [row-end];
  }

  .contact-grid-rows {
    grid-template-rows: [row-start] minmax(7rem, 10rem) [row-content] 1fr [row-name] 5rem [row-email] 5rem [row-message] 5rem [row-msg-end] 13rem [row-submit] 6.25rem [post-form] 1fr [footer] auto [row-end];
  }
}
