.full-height {
  min-height: calc(100% -5rem);
}

.full-height main {
  min-height: 100%;
}

.content-style-1 main section h1 {
  font-size: 3.7vw;
  width: 100%;
  color: var(--emphasis-light-color);
}

h1.em-heading,
.em-heading main section h1 span {
  background-color: #fff;
  padding: 1rem 2.5rem;
  /* margin-left: -2.5rem; */
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.content-style-1 main article {
  padding-bottom: 2.5rem;
}
.content-style-1 main article h2,
.content-style-1 main article p {
  color: var(--emphasis-dark-color);
}
.content-style-1 main article p span {
  background-color: var(--background-color);
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  box-shadow: 0.5em 0 0 var(--background-color),
    -0.5em 0 0 var(--background-color);
  line-height: 2rem;
  padding: 5px;
  padding-left: 0;
}
.content-style-1 main article > h2 {
  font-weight: 500;
  font-size: 2vw;
  padding: 2rem 0;
}
.content-style-1 main article h2 span {
  display: table;
}
@media screen and (max-width: 1154px) {
  .content-style-1 main section > h1:first-of-type span {
    font-size: 4rem;
  }

  h1.em-heading,
  .em-heading main section h1 {
    background-color: #fff;
    padding: 1rem;
  }

  .em-heading main section h1 span {
    background-color: transparent;
    padding: 0;
  }
  .content-style-1 main article > h2 {
    font-size: 1.5rem;
    padding: 2rem 0;
  }
  .content-style-1 main article > p {
    font-size: 1.25rem;
  }
}

/* 2 */

.home-chevron {
  grid-column: h-col-4/ h-col-5;
  grid-row: h-row-1/ h-row-4;
  align-self: center;
  margin-left: 2.5rem;
}

.content-style-2 main section {
  display: contents;
}

.content-style-2 main section h1 {
  display: contents;
  font-style: italic;
}

.content-style-2 main section h1 span:first-of-type {
  grid-column: h-col-1/h-col-4;
  grid-row: h-row-1/h-row-2;
  align-self: center;
  font-weight: 300;
  color: var(--emphasis-dark-color);
  font-size: 6rem;
}

.content-style-2 main section h1 span:last-of-type {
  grid-column: h-col-2/h-col-4;
  grid-row: h-row-2/h-row-3;
  margin: -5.5rem 0 0 0rem;
  font-style: normal;
  font-weight: 500;
  font-size: 8rem;
  text-transform: lowercase;
}

.content-style-2 main article {
  align-self: flex-start;
  grid-column: h-col-3/h-col-4;
  grid-row: h-row-3/h-row-4;
}
.content-style-2 main article h2,
.content-style-2 main article p {
  color: var(--emphasis-dark-color);
  /* margin-left: 30rem; */
}

.content-style-2 main article h2 {
  font-weight: 500;
  font-size: 1.75rem;
}
/* .content-style-2 main article h2 span {
  display: table;
} */
@media screen and (max-width: 1154px) {
  .content-style-2 main section h1 span:first-of-type {
    font-size: 4rem;
    /* place-self: center; */
  }

  .content-style-2 main section h1 span:last-of-type {
    margin: -3rem 0 0 0rem;
    font-size: 5.5rem;
    text-transform: lowercase;
    place-self: center;
  }

  .content-style-2 main article {
    justify-self: center;
  }

  .content-style-2 main article > h2 {
    font-size: 1.5rem;
  }
  .content-style-2 main article > p {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 800px) {
  .content-style-2 main section h1 span:last-of-type {
    justify-self: flex-start;
  }
}

.home-bg-img {
  grid-column: logo/right-margin;
  grid-row: row-img-start/row-img-end;
  background-color: var(--emphasis-lighter-color);
  min-width: 100%;
  min-height: 100%;
  z-index: -4;
}

@media screen and (max-width: 540px) {
  .content-style-2 main section h1 span {
    grid-column: h-col-1/h-col-4;
    grid-row: h-row-1/h-row-2;
  }
  .content-style-2 main section h1 span:first-of-type {
    font-size: 3rem;
    justify-self: center;
  }

  .content-style-2 main section h1 span:last-of-type {
    font-size: 4rem;
    margin: -2.5rem 0 0 0rem;
    justify-self: center;
  }

  .content-style-2 main article h2 {
    font-size: 1.25rem;
  }
  .content-style-2 main article {
    margin-top: 1rem;
    justify-self: center;
    text-align: center;
  }
  .home-chevron {
    grid-column: h-col-1/ h-col-4;
    grid-row: h-row-4/ h-row-5;
    justify-self: center;
    margin: 2.5rem 0 0 0;
  }
}
