.content-block {
  display: contents;
}
.content-block main {
  grid-column: content/nav;
  grid-row: row-content/span 1;
  align-self: center;
  z-index: 2;
}
.content-block main section > h1:first-of-type span {
  font-size: 3.7vw;
  width: 100%;
  color: var(--emphasis-light-color);
  background-color: #fff;
  padding: 1rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
.content-block main article h2,
.content-block main article p {
  color: var(--emphasis-dark-color);
}
.content-block main article p span {
  background-color: var(--background-color);
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  box-shadow: 0.5em 0 0 var(--background-color),
    -0.5em 0 0 var(--background-color);
  line-height: 2rem;
  padding: 5px;
  padding-left: 0;
}
.content-block main article > h2 {
  font-weight: 500;
  font-size: 2vw;
  padding: 2rem 0;
}
.content-block main article h2 span {
  display: table;
}
@media screen and (max-width: 1154px) {
  .content-block main section > h1:first-of-type span {
    font-size: 4rem;
  }
  .content-block main article > h2 {
    font-size: 1.5rem;
    padding: 2rem 0;
  }
  .content-block main article > p {
    font-size: 1.25rem;
  }
}

.thumbtab-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 2rem 0;
}
.thumbtab-1 {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: var(--emphasis-light-color);
  margin: 3rem 2rem 0 0;
}

@media screen and (max-width: 1154px) {
  .content-block {
    grid-column: logo/right-margin;
    grid-row: row-content/span 1;
    display: grid;
    grid-template-columns: [sub-start] 1fr [sub-mid] min-content [sub-end];
    grid-template-rows: [sub-row-start] min-content [title] 20rem [sub-row-mid sub-post-mid] auto [sub-row-end];
    min-height: 100%;
    flex-direction: row;
    grid-gap: 2.5rem;
  }
  .content-block main {
    display: contents;
    align-self: flex-start;
  }
  .content-block main article {
    grid-column: sub-start/sub-mid;
    grid-row: sub-post-mid/sub-row-end;
  }
  .content-block main section > h1:first-of-type {
    margin-top: 0.5rem;
  }
  .content-block main article h2 {
    padding: 0 0 2rem 0;
  }
  .preview-container {
    grid-column: sub-start/sub-mid;
    grid-row: title/sub-row-mid;
    align-self: center;
    padding: 0;
    margin: 0;
    display: flex;
    align-self: flex-start;
  }
  .video-preview {
    border-radius: 0;
    z-index: 1;
    height: 20rem;
    min-width: 100%;
    margin: 0;
  }
  .thumbtab-container {
    grid-column: sub-mid/sub-end;
    grid-row: sub-row-start/sub-row-mid;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 0 2rem;
    height: 100%;
    z-index: 2;
  }
  .thumbtab-1 {
    width: 5rem;
    height: 5rem;
    margin: 0;
  }
}
@media screen and (max-width: 740px) {
  .content-block {
    grid-template-columns: [sub-start] 2fr [sub-mid sub-end];
    grid-template-rows: [sub-row-start] min-content [title] min-content [sub-row-mid] min-content [sub-post-mid] min-content [sub-row-end];
  }
  .content-block main section > h1:first-of-type span {
    font-size: 2.75rem;
  }
  .thumbtab-container {
    grid-column: sub-start/sub-end;
    grid-row: sub-row-mid/sub-post-mid;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    width: 100%;
  }
  .thumbtab-1 {
    width: 4rem;
    height: 4rem;
    margin: 0.5rem 0 0.5rem 0;
  }
}
