.showcase-content {
  display: contents;
}

@media screen and (max-width: 1154px) {
  .showcase-content {
    display: grid;
    grid-template-columns: [sub-start] 1fr [sub-mid] min-content [sub-end];
    grid-template-rows: [sub-row-start] min-content [title] 20rem [sub-row-mid sub-post-mid] 1fr [sub-row-end];
    flex-direction: row;
    grid-gap: 2.5rem;
  }
  .showcase-content main {
    display: contents;
    align-self: flex-start;
  }
  .showcase-content main article {
    grid-column: sub-start/sub-mid;
    grid-row: sub-post-mid/sub-row-end;
  }
  .showcase-content section:first-of-type {
    margin: 0;
  }
  .showcase-content main article h2 {
    padding: 0 0 2rem 0;
  }
}
@media screen and (max-width: 740px) {
  .showcase-content {
    grid-template-columns: [sub-start] 2fr [sub-mid sub-end];
    grid-template-rows: [sub-row-start] min-content [title] min-content [sub-row-mid] min-content [sub-post-mid] 1fr [sub-row-end];
  }
  .showcase-content main section > h1:first-of-type span {
    font-size: 2.75rem;
  }
}
