@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type="checkbox"],
  input[type="radio"],
  input[type="text"] {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}

.gotcha {
  display: none;
}

/* Container Display: Contents */

.contact-container,
.contact-container main,
.contact-container main article,
.contact-form,
.contact-form div {
  display: contents;
}

/* form position */

.contact-container main section {
  grid-column: bg-pad/overlap;
  grid-row: row-content/row-email;
  display: grid;
  align-self: flex-end;
  z-index: 3;
  margin: 2.5rem 0 2.5rem 0;
}

.contact-container h1 span,
.contact-container h1 {
  margin: 0 0 0 0;
}

@media screen and (max-width: 1154px) {
  .contact-container main section {
    grid-column: logo/overlap;
    grid-row: row-content/row-select;
    display: grid;
    align-self: flex-end;
    margin: 0 2.5rem 0 0;
  }
}

@media screen and (max-width: 768px) {
  .contact-container main section {
    grid-column: logo/right-margin;
    margin-right: 0;
  }
}

/* form labels */
.form-name label,
.form-email label,
.form-message label {
  display: none;
}

.form-name input,
.form-email input,
.form-message textarea,
.form-button button {
  grid-column: overlap/right-margin;
  border: 0;
  align-self: flex-start;
  justify-self: flex-end;
  font-size: var(--md);
  padding: 1.25rem;
  height: calc(100% - 1.125rem);
  width: calc(100% - 2.5rem);
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  color: var(--shade-1);
  background-color: transparent;
}

.form-name input,
.form-email input,
.form-message textarea {
  border-bottom: 0.25rem solid var(--shade-3);
}

@media screen and (max-width: 1154px) {
  .form-name input,
  .form-email input,
  .form-message textarea,
  .form-button button {
    grid-column: logo/overlap;
    justify-self: flex-start;
  }
}
@media screen and (max-width: 768px) {
  .form-name input,
  .form-email input,
  .form-message textarea,
  .form-button button {
    grid-column: content/right-margin;
    font-size: 1rem;
    width: 100%;
  }
}

.form-name input:focus,
.form-email input:focus,
.form-message textarea:focus,
.form-button button:focus {
  border-bottom: 0.25rem solid var(--shade-1);
  outline: none;
}

.form-name input::placeholder,
.form-email input::placeholder,
.form-message textarea::placeholder {
  color: var(--shade-4);
}

@media screen and (max-width: 1154px) {
  .form-name input,
  .form-email input {
    padding: 1rem;
  }
}

/* TEXTAREA */
.form-message textarea {
  resize: none;
}

@media screen and (max-width: 1154px) {
  .form-message textarea {
    padding: 1.25rem;
  }
}

/* BUTTON */
.form-button button {
  text-transform: uppercase;
  background-color: var(--shade-1);
  color: var(--shade-4);
  font-weight: 700;
  font-size: var(--ml);
  letter-spacing: 0.2em;
  cursor: pointer;
}

.form-button button:hover {
  background-color: var(--shade-2);
}

.form-name input {
  grid-row: row-name/row-email;
}
.form-email input {
  grid-row: row-email/row-message;
}
.form-message textarea {
  grid-row: row-message/row-submit;
}

.form-button button {
  grid-row: row-submit/post-form;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

.about-nav {
  grid-column: overlap/right-margin;
  grid-row: row-select/row-name;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0 0 2.5rem 2.5rem;
  min-height: 100%;
}

.about-prev-pos {
  margin-right: 2.5rem;
  grid-column: bg-pad/overlap;
  grid-row: row-content/footer;
}

.about-me {
  grid-column: overlap/right-margin;
  grid-row: row-name/post-form;
  margin-left: 2.5rem;
  overflow-y: scroll;
}

.about-me p {
  margin-right: 0.75rem;
}

@media screen and (max-width: 1154px) {
  .about-me {
    display: contents;
  }
  .about-nav,
  .about-me h1,
  .about-me div {
    grid-column: logo/overlap;
  }

  .about-me h1 {
    grid-row: row-content / row-select;
    margin: 0 2.5rem 0 0;
  }

  .about-me div {
    grid-row: row-name / row-submit;
    margin: 1.125rem 2.5rem 0 0;
  }

  .about-nav {
    grid-row: row-select/row-name;
    padding: 0.625rem 0 2.5rem 0;
  }

  .about-prev-pos,
  .about-me {
    margin: 0;
  }

  .about-prev-pos {
    grid-column: overlap/right-margin;
    grid-row: row-content/row-submit;
  }
}

@media screen and (max-width: 768px) {
  .about-prev-pos {
    display: none;
  }
  .about-nav,
  .about-me h1,
  .about-me div {
    grid-column: logo/right-margin;
    padding: 0.625rem 0 0.625rem 0;
  }
  .about-me h1 {
    grid-row: row-content / row-select;
    margin: 0 0 0 0;
  }

  .about-me div {
    grid-row: row-name / row-submit;
    margin: 1.125rem 0 0 0;
  }
}

.hidden {
  display: none;
}

.cv:hover {
  border-bottom: 0.25rem solid var(--shade-6);
}

.cv:active {
  background-color: var(--shade-2);
  color: var(--shade-6);
}

.cv:focus {
  border-bottom: 0.25rem solid transparent;
}

@media screen and (max-width: 768px) {
  .cv:hover {
    border-bottom: none;
    border-left: 0.25rem solid var(--shade-6);
  }

  .cv:active {
    background-color: var(--shade-2);
    color: var(--shade-6);
  }

  .cv:focus {
    border-bottom: none;
    border-left: 0.25rem solid transparent;
  }
}
