@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type="checkbox"],
  input[type="radio"],
  input[type="text"] {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}

.gotcha {
  display: none;
}

/* Container Display: Contents */

.contact-container,
.contact-container main,
.contact-container main article,
.contact-form,
.contact-form div {
  display: contents;
}

/* form position */

.contact-container main section {
  grid-column: bg-pad/overlap;
  grid-row: row-content/row-email;
  display: grid;
  align-self: flex-end;
  z-index: 3;
  margin: 2.5rem 0 2.5rem 0;
}

.contact-container h1 span,
.contact-container h1 {
  margin: 0 0 0 0;
}

@media screen and (max-width: 1154px) {
  .contact-container main section {
    grid-column: logo/overlap;
    grid-row: row-content/row-select;
    display: grid;
    align-self: flex-end;
    margin: 0 2.5rem 0 0;
  }
}

@media screen and (max-width: 768px) {
  .contact-container main section {
    grid-column: logo/right-margin;
    margin-right: 0;
  }
}

.about-nav {
  grid-column: overlap/right-margin;
  grid-row: row-select/row-name;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0 0 2.5rem 2.5rem;
  min-height: 100%;
}

.about-prev-pos {
  margin-right: 2.5rem;
  grid-column: bg-pad/overlap;
  grid-row: row-content/footer;
}

.about-me {
  grid-column: overlap/right-margin;
  grid-row: row-name/post-form;
  margin-left: 2.5rem;
  overflow-y: scroll;
}

.about-me p {
  margin-right: 0.75rem;
}

@media screen and (max-width: 1154px) {
  .about-me {
    display: contents;
  }
  .about-nav,
  .about-me h1,
  .about-me div {
    grid-column: logo/overlap;
  }

  .about-me h1 {
    grid-row: row-content / row-select;
    margin: 0 2.5rem 0 0;
  }

  .about-me div {
    grid-row: row-name / row-submit;
    margin: 1.125rem 2.5rem 0 0;
  }

  .about-nav {
    grid-row: row-select/row-name;
    padding: 0.625rem 0 2.5rem 0;
  }

  .about-prev-pos,
  .about-me {
    margin: 0;
  }

  .about-prev-pos {
    grid-column: overlap/right-margin;
    grid-row: row-content/row-submit;
  }
}

@media screen and (max-width: 768px) {
  .about-prev-pos {
    display: none;
  }
  .about-nav,
  .about-me h1,
  .about-me div {
    grid-column: logo/right-margin;
    padding: 0 0 0.625rem 0;
  }
  .about-me h1 {
    grid-row: row-content / row-select;
    margin: 0 0 0 0;
  }

  .about-me div {
    grid-row: row-name / row-submit;
    margin: 0.5rem 0 0 0;
  }
}

.hidden {
  display: none;
}

.cv:hover {
  border-bottom: 0.25rem solid var(--shade-6);
}

.cv:active {
  background-color: var(--shade-2);
  color: var(--shade-6);
}

.cv:focus {
  border-bottom: 0.25rem solid transparent;
}

@media screen and (max-width: 768px) {
  .cv:hover {
    border-bottom: none;
    border-left: 0.25rem solid var(--shade-6);
  }

  .cv:active {
    background-color: var(--shade-2);
    color: var(--shade-6);
  }

  .cv:focus {
    border-bottom: none;
    border-left: 0.25rem solid transparent;
  }
}
