*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --shade-1: #f6f6f6;
  --shade-2: #eaeaea;
  --shade-3: #c9c9c9;
  --shade-3a: #969696;
  --shade-4: #7b7b7b;
  --shade-5: #3d3d3d;
  --color-home: #222222;
  --color-bg: #111111;
  --color-bg-trans: rgba(17, 17, 17, 0.494);
  --shade-6: black;
  --success: green;
  --warning: orange;
  --danger: red;
  --xl: 2.5rem;
  --lg: 1.75rem;
  --ml: 1.5rem;
  --md: 1.33rem;
  --sm: 1.2rem;
  --xs: 1rem;
  --logo: 1.625rem;
  --navtext: 1.125rem;
  --lh-xl: 4;
  --lh-lg: 3;
  --lh-ml: 2.85;
  --lh-md: 2.75;
  --lh-sm: 2.66;
  --lh-xs: 2.5;
  --thumbtab-vid: 8rem;
}

@media screen and (max-width: 1550px) {
  :root {
    --xl: 2rem;
    --lg: 1.5rem;
    --ml: 1.33rem;
    --md: 1.15rem;
    --sm: 1.125rem;
    --xs: 1rem;
    --logo: 1.5rem;
    --navtext: 1rem;
    --thumbtab-vid: 6.5rem;
  }
}

@media screen and (max-width: 1344px) {
  :root {
    --thumbtab-vid: 5rem;
  }
}

@media screen and (max-width: 1154px) {
  :root {
    --thumbtab-vid: 8rem;
    --xl: 2.125rem;
    --lg: 1.5rem;
    --ml: 1.33rem;
    --md: 1.125rem;
    --sm: 1rem;
    --xs: 0.9rem;
  }
}

@media screen and (max-width: 840px) {
  :root {
    --xl: 2rem;
    --lg: 1.33rem;
    --ml: 1.25rem;
    --md: 1.1rem;
    --sm: 1rem;
    --xs: 0.85rem;
    --logo: 1.33rem;
    --navtext: 0.95rem;
    --thumbtab-vid: 15vmin;
  }
}

@media screen and (max-width: 630px) {
  /* :root {
    --thumbtab-vid: 4rem;
  } */
}

@media screen and (max-width: 590px) {
  :root {
    --xl: 2rem;
    --lg: 1.33rem;
    --ml: 1.125rem;
    --md: 1rem;
    --thumbtab-vid: 15vmin;
    /* --sm: 0.95rem;
    --xs: 0.8rem;
    --logo: 1.25rem;
    --navtext: 0.85rem; */
  }
}

/* @media screen and (max-width: 390px) {
  :root {
    --xl: 1.33rem;
    --lg: 1.25rem;
    --ml: 1.125rem;
    --md: 1.1rem;
    --sm: 1rem;
    --xs: 0.75rem;
    --logo: 1.25rem;
    --navtext: 0.85rem;
  }
} */

body,
html {
  min-height: 100vh;
  font-size: 16px;
  line-height: 1.5;
  font-family: Barlow, Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--color-home);
  /* background-image: url(./img/noise-100x100-low.png); */
  color: var(--shade-1);
  overflow-y: scroll;
}

body::after {
  content: "";
  position: fixed;
  z-index: -10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(./img/noise-100x100.png);
}

.home-bg-color::after {
  background-color: var(--color-home);
}

.standard-bg-color::after {
  background-color: var(--color-bg);
}

a:link,
a:visited {
  font-weight: 700;
  text-decoration: none;
  color: var(--shade-3);
}
a:hover {
  font-weight: 700;
  background-color: var(--shade-1);
  color: var(--shade-4);
  padding: 0.25rem 0.5rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
h1 {
  font-weight: 500;
  font-size: var(--xl);
  color: var(--shade-2);
  padding-bottom: var(--ml);
  /* background-color: var(--shade-6); */
}

@media screen and (max-width: 590px) {
  h1 {
    padding: 0.75rem 1.125rem;
  }
}

@media screen and (max-width: 1154px) {
  h1 {
    margin-bottom: 0;

    padding: 0.625rem 1.125rem;
  }
  .em-heading h1 span {
    background-color: var(--shade-6);
    padding: 0;
    margin-left: 0;
  }
}

h2 {
  font-size: var(--lg);
  padding-bottom: var(--sm);
  color: var(--emphasis-dark-color);
  font-weight: 500;
}

h2 span {
  display: table;
}

h3 {
  font-size: var(--md);
  line-height: var(--lh-md);
}

h4 {
  font-size: var(--sm);
}

h5 {
  font-size: var(--xs);
}

p {
  font-size: var(--sm);
  font-weight: 300;
  color: var(--emphasis-dark-color);
}

h2 span,
p span {
  line-height: 2rem;
  padding: 5px;
  padding-left: 0;
}

@media screen and (max-width: 1154px) {
  h2 span,
  p span {
    padding: 0;
  }
}

p + p {
  margin: 0.75rem 0 0 0;
}

@media screen and (max-width: 1550px) {
  p {
    margin: 0 0 1.125rem 0;
  }
}

button {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.2em;
  cursor: pointer;
  border: 0;
  font-size: var(--ml);
  padding: 1.25rem;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

input:focus,
input:focus,
textarea:focus,
button:focus {
  outline: 0.25rem solid var(--shade-2);
}

input:invalid,
textarea:invalid {
  outline: 0.25rem solid red;
}

.flex-container {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body::-webkit-scrollbar,
body *::-webkit-scrollbar {
  width: 0.5rem;
}
body,
body * {
  scrollbar-width: thin;
  scrollbar-color: var(--shade-4) transparent;
}
body::-webkit-scrollbar-track,
body *::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb,
body *::-webkit-scrollbar-thumb {
  background-color: var(--shade-4);
}
