*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* --darkest: #000000; 
  --s1: #262626;
  --s2: #3d3d3d;
  --s3: #3d3d3d;
  --w1: #7b7b7b;
  --highlight: #eaeaea;
  --bg: #f6f6f6;
  --w4: #ffffff; */

  --emphasis-dark-color: #3d3d3d;
  --emphasis-light-color: #7b7b7b;
  --emphasis-light-color2: #c9c9c9;
  --emphasis-lighter-color: #eaeaea;
  --background-color: #f6f6f6;
  --xl: 3.5rem;
  --lg: 2rem;
  --ml: 1.5rem;
  --md: 1.33rem;
  --sm: 1.2rem;
  --xs: 1rem;
  --logo: 1.5rem;
  --navtext: 1rem;
  --lh-xl: 4;
  --lh-lg: 3;
  --lh-ml: 2.85;
  --lh-md: 2.75;
  --lh-sm: 2.66;
  --lh-xs: 2.5;
}

@media screen and (max-width: 1600px) {
  :root {
    --xl: 2.5rem;
    --lg: 2rem;
    --ml: 1.33rem;
    --md: 1.25rem;
    --sm: 1.125rem;
    --xs: 1rem;
  }
}

@media screen and (max-width: 1154px) {
  :root {
    --xl: 2.125rem;
    --lg: 1.75rem;
    --ml: 1.33rem;
    --md: 1.125rem;
    --sm: 1rem;
    --xs: 0.9rem;
  }
}

@media screen and (max-width: 840px) {
  :root {
    --xl: 2rem;
    --lg: 1.5rem;
    --ml: 1.25rem;
    --md: 1.1rem;
    --sm: 1rem;
    --xs: 0.85rem;
    --logo: 1.33rem;
    --navtext: 0.95rem;
  }
}

@media screen and (max-width: 590px) {
  :root {
    --xl: 2rem;
    --lg: 1.33rem;
    --ml: 1.125rem;
    --md: 1rem;
    /* --sm: 0.95rem;
    --xs: 0.8rem;
    --logo: 1.25rem;
    --navtext: 0.85rem; */
  }
}

/* @media screen and (max-width: 390px) {
  :root {
    --xl: 1.33rem;
    --lg: 1.25rem;
    --ml: 1.125rem;
    --md: 1.1rem;
    --sm: 1rem;
    --xs: 0.75rem;
    --logo: 1.25rem;
    --navtext: 0.85rem;
  }
} */

body,
html {
  min-height: 100vh;
  font-size: 16px;
  line-height: 1.5;
  font-family: Barlow, Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--background-color);
  /* background-color: black; */
  color: var(--emphasis-dark-color);
  overflow-y: scroll;
}

a:link,
a:visited {
  font-weight: 700;
  text-decoration: none;
  color: #000;
  /* padding: 0.1rem 0.5rem; */
}
a:hover {
  font-weight: 700;
  background-color: var(--emphasis-dark-color);
  color: var(--emphasis-lighter-color);
  padding: 0.25rem 0.5rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
h1 {
  font-weight: 500;
  font-size: var(--xl);
  color: var(--emphasis-light-color);
}
h2 {
  font-size: var(--lg);
}
h3 {
  font-size: var(--md);
  line-height: var(--lh-md);
}
h4 {
  font-size: var(--sm);
}
h5 {
  font-size: var(--xs);
}
p {
  font-size: var(--sm);
  font-weight: 300;
  margin: 0 0 1.125rem 0;
}

button {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.2em;
  cursor: pointer;
  border: 0;
  font-size: var(--ml);
  padding: 1.25rem;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

input:focus,
input:focus,
textarea:focus,
button:focus {
  outline: 0.25rem solid var(--emphasis-light-color);
}

.flex-container {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body::-webkit-scrollbar,
body *::-webkit-scrollbar {
  width: 0.5rem;
}
body,
body * {
  scrollbar-width: thin;
  scrollbar-color: var(--emphasis-light-color2) transparent;
}
body::-webkit-scrollbar-track,
body *::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb,
body *::-webkit-scrollbar-thumb {
  background-color: var(--emphasis-light-color2);
}
