.header {
  display: contents;
}
.header-bg {
  grid-column: 1/-1;
  grid-row: row-start/row-content;
  height: 4rem;
  align-items: center;
  opacity: 0.85;
  z-index: 3;
  position: sticky;
  top: 0;
}

.logo {
  align-self: center;
  color: var(--emphasis-dark-color);
  font-weight: 500;
  font-size: 2.25rem;
  z-index: 5;
  position: sticky;
  top: 0;
  grid-column: logo/span 1;
  grid-row: row-start/span 1;
}
.logo > span {
  color: var(--emphasis-light-color);
}

.logo a:link,
.logo a:hover,
.logo a:visited {
  background-color: transparent;
  color: var(--emphasis-dark-color);
  font-weight: 500;
  padding: 0;
}

.logo a:link > span,
.logo a:hover > span,
.logo a:visited > span {
  color: var(--emphasis-light-color);
}
