/* 2 */

.home-chevron {
  grid-column: chev / chev-end;
  grid-row: h-row-1/ h-row-4;
  align-self: center;
  justify-self: flex-end;
  margin: 0 0 2.5rem 5rem;
  display: block;
  cursor: pointer;
}

.home-chevron:link,
.home-chevron:visited,
.home-chevron:hover {
  background-color: transparent;
  padding: 2.5rem;
}

a:link .chevron,
a:visited .chevron {
  fill: var(--shade-2);
}

.home-chevron:hover > svg > .chevron {
  fill: var(--shade-1);
  padding: 0;
  background-color: transparent;
}

.home-style main section {
  display: contents;
}

.home-style main section h1 {
  display: contents;
  font-style: italic;
}

.home-style main h1 span:first-of-type {
  grid-column: h-col-1/h-col-4;
  grid-row: h-row-1/h-row-2;
  align-self: center;
  font-weight: 300;
  color: var(--shade-1);
  font-size: 6rem;
}

.home-style main h1 span:last-of-type {
  grid-column: h-col-2/h-col-4;
  grid-row: h-row-2/h-row-3;
  margin: -5.5rem 0 0 0rem;
  font-style: normal;
  font-weight: 500;
  font-size: 8rem;
  text-transform: lowercase;
}

.home-style main article {
  align-self: flex-start;
  grid-column: h-text/h-col-4;
  grid-row: h-row-3/h-row-4;
}
.home-style main article h2,
.home-style main article p {
  color: var(--shade-1);
}

.home-style main article h2 {
  font-weight: 500;
  font-size: 1.75rem;
}
/* 
@media screen and (max-width: 1550px) {
  .home-style main h1 span:first-of-type {
    font-size: 6rem;
  }
  .home-style main h1 span:last-of-type {
    font-size: 8rem;
  }
} */

@media screen and (max-width: 1154px) {
  .home-style main section h1 span:first-of-type {
    font-size: 4rem;
  }

  .home-style main section h1 span:last-of-type {
    margin: -3rem 0 0 0rem;
    font-size: 5.5rem;
    text-transform: lowercase;
    place-self: center;
  }

  .home-style main article {
    justify-self: center;
  }

  .home-style main article > h2 {
    font-size: 1.5rem;
  }
  .home-style main article > p {
    font-size: 1.25rem;
  }
  .home-chevron {
    margin: 0 0 1.125rem 0;
    justify-self: flex-end;
  }
}

@media screen and (max-width: 900px) {
  .home-style main section h1 span:last-of-type {
    justify-self: flex-start;
  }
}

.home-bg {
  grid-column: logo/right-margin;
  grid-row: row-content/footer;
  z-index: -4;
  mix-blend-mode: difference;
  opacity: 0.6;
  /* background-blend-mode: overlay; */
  /* clip-path: inset(0px 0px 0px 0px); */
}

.vid-overlay {
  width: 100%;
  height: 100%;
  background-color: var(--shade-6);
  max-height: 100%;
  opacity: 0.5;
  mix-blend-mode: overlay;
  z-index: 3;
  position: relative;
}

.video-loop-home {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  position: absolute;
}

@media screen and (max-width: 1154px) {
  .home-bg {
    margin-bottom: 2.5rem;
  }
}

@media screen and (max-width: 700px) {
  .home-style main section h1 span {
    grid-column: h-col-1/h-col-4;
    grid-row: h-row-1/h-row-2;
  }
  .home-style main section h1 span:first-of-type {
    font-size: 3rem;
    justify-self: center;
  }

  .home-style main section h1 span:last-of-type {
    font-size: 4rem;
    margin: -2.5rem 0 0 0rem;
    justify-self: center;
  }

  .home-style main article h2 {
    font-size: 1.25rem;
  }
  .home-style main article {
    margin-top: 1rem;
    justify-self: center;
    text-align: center;
  }
  .home-chevron {
    grid-column: h-col-1/ h-col-4;
    grid-row: h-row-4/ h-row-5;
    justify-self: center;
    margin: 0;
  }
}
